## Import csv data into Pandas Dataframe

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import warnings
import logging
warnings.filterwarnings("ignore")
# Set matplotlib's logging level to WARNING or ERROR to suppress DEBUG messages
logging.getLogger('matplotlib').setLevel(logging.WARNING)
%matplotlib inline

In [2]:
df = pd.read_csv('../us_visa/data/extracted_data/EasyVisa.csv')
df.head()

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified

In [3]:
df.shape

(25480, 12)

In [4]:
numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [5]:
categorical_features

['case_id',
 'continent',
 'education_of_employee',
 'has_job_experience',
 'requires_job_training',
 'region_of_employment',
 'unit_of_wage',
 'full_time_position',
 'case_status']

In [6]:
def separate_numerical_and_categorical(df: pd.DataFrame):
    """
    Separates numerical and categorical features from the given DataFrame.

    Parameters:
    df (pd.DataFrame): The input DataFrame.

    Returns:
    tuple: A tuple containing:
        - numerical_df (pd.DataFrame): DataFrame containing only numerical columns.
        - categorical_df (pd.DataFrame): DataFrame containing only categorical columns.
    """
    # Select numerical columns
    numerical_df = df.select_dtypes(include=['number'])
    
    # Select categorical columns
    categorical_df = df.select_dtypes(include=['object', 'category'])
    
    return numerical_df, categorical_df

In [28]:
categorical_df = separate_numerical_and_categorical(df)
categorical_df

(       no_of_employees  yr_of_estab  prevailing_wage
 0                14513         2007         592.2029
 1                 2412         2002       83425.6500
 2                44444         2008      122996.8600
 3                   98         1897       83434.0300
 4                 1082         2005      149907.3900
 ...                ...          ...              ...
 25475             2601         2008       77092.5700
 25476             3274         2006      279174.7900
 25477             1121         1910      146298.8500
 25478             1918         1887       86154.7700
 25479             3195         1960       70876.9100

 [25480 rows x 3 columns],
          case_id continent education_of_employee has_job_experience  \
 0         EZYV01      Asia           High School                  N
 1         EZYV02      Asia              Master's                  Y
 2         EZYV03      Asia            Bachelor's                  N
 3         EZYV04      Asia            Bachelor's                  N
 4         EZYV05    Africa              Master's                  Y
 ...          ...       ...                   ...                ...
 25475  EZYV25476      Asia            Bachelor's                  Y
 25476  EZYV25477      Asia           High School                  Y
 25477  EZYV25478      Asia              Master's                  Y
 25478  EZYV25479      Asia              Master's                  Y
 25479  EZYV25480      Asia            Bachelor's                  Y

       requires_job_training region_of_employment unit_of_wage  \
 0                         N                 West         Hour
 1                         N            Northeast         Year
 2                         Y                 West         Year
 3                         N                 West         Year
 4                         N                South         Year
 ...                     ...                  ...          ...
 25475                     Y                South         Year
 25476                     N            Northeast         Year
 25477                     N                South         Year
 25478                     Y                 West         Year
 25479                     N              Midwest         Year

       full_time_position case_status
 0                      Y      Denied
 1                      Y   Certified
 2                      Y      Denied
 3                      Y      Denied
 4                      Y   Certified
 ...                  ...         ...
 25475                  Y   Certified
 25476                  Y   Certified
 25477                  N   Certified
 25478                  Y   Certified
 25479                  Y   Certified

 [25480 rows x 9 columns])

### Convert csv tabular data into dictionary because MongoDB store data in key:value form

In [8]:
# data = df.to_dict(orient="records")
# print(len(data))

# Mongodb Connection

In [9]:
# db_conn_str = 'mongodb+srv://aadarshkushwaha0208:aadarshkushwaha0208@clusterusvisa.oukgo.mongodb.net/?retryWrites=true&w=majority&appName=ClusterUsVisa'

In [10]:
# print(db_conn_str)

In [11]:
# DB_NAME = 'US_VISA'
# COLLECTION_NAME = 'visa_data'
# CONNECTION_URL = db_conn_str

In [12]:
# import pymongo

In [13]:
# client = pymongo.MongoClient(CONNECTION_URL)
# data_base = client[DB_NAME]
# collection = data_base[COLLECTION_NAME]

In [14]:
# Data is inserted into MongoDb
# rec = collection.insert_many(data)

In [15]:
# Fetch the data from MongoDb
# records = collection.find()

In [16]:
# for i, j in enumerate(records):
#     print(f"{i}:{j}")

In [17]:
# new_df = pd.DataFrame(list(collection.find()))
# new_df.head()

In [18]:
# numeric_features = [feature for feature in df.columns if df[feature].dtype != 'O']
# categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']

In [19]:
# discrete_features=[feature for feature in numeric_features if len(df[feature].unique())<=25]

# continuous_features=[feature for feature in numeric_features if len(df[feature].unique()) > 25]

# print('We have {} discrete features : {}'.format(len(discrete_features), discrete_features))
# print('\nWe have {} continuous_features : {}'.format(len(continuous_features), continuous_features))

In [20]:
# numeric_features

In [21]:
# [feature for feature in numeric_features]

In [22]:
# df['yr_of_estab'].unique()

In [23]:
# categorical_features = [feature for feature in df.columns if df[feature].dtype == 'O']
# for feature in categorical_features:
#     print(df[feature].value_counts())
#     print("**************************************")

In [24]:
# print(df.apply(lambda col: col.unique()))

In [25]:
# numeric_columns = df.select_dtypes(exclude="number").columns
# numeric_columns